<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="ISO-8859-1">
<title>Dash-board</title>
<link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css} " />
<link th:rel="stylesheet" th:href="@{/css/font-awesome.min.css} " />
<link th:rel="stylesheet" th:href="@{/css/elegant-icons.css} " />
<link th:rel="stylesheet" th:href="@{/css/nice-select.css} " />
<link th:rel="stylesheet" th:href="@{/css/jquery-ui.min.css} " />
<link th:rel="stylesheet" th:href="@{/css/navbar.css} " />
</head>
<body>

<header th:insert="header-admin :: header"></header>
 <div class="container-fluid"  >
 
 
 
 
 
 
 
 
 </div>


<div th:insert="footer :: footer"></div>
</body>

<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</html>